@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../../assets/css/animation.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} 

body {
  background: #FFF;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link {
  transition: all .3s;
  color: #1C1917;
}

.link:hover {
  color: #827e7c;
  transition: all .3s;
}

.openMenu {
  animation-name: openMeny;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.openAccordion {
  animation-name: openAccordion;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


.openDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* animation-name: openDescription;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; */
}

.radio-input:checked ~  .radio-input-marker span {
  background-color: #000;
}

.radio-input:not-checked ~  .radio-input-marker span {
  background-color: rgba(226, 232, 240, 1);
}